<!doctype html>
<html lang="en">

<% include ../include/head.html %>

<body>

<% include ../include/navbar.html %>

<div class="d-flex flex-column min-vh-100 site-wrap">

    <div class="site-section">
        <div class="container">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Account</h1>
            </div>

            <div class=row justify-content-center pt-4>    
                <% include ../include/messages.html %>
            </div>

            <div>
                <p class="lead mb-5">Your account.</p>
                <p>
                    <button type="submit" class="btn btn-md height-auto px-4 py-3 btn-primary" onclick="window.history.go(-1);">Back</button>
                </p>
            </div>

        </div>
    </div>

</div>

<% include ../include/footer.html %>
    
<% include ../include/scripts.html %>


</body>

</html>
