<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">

    <link rel="stylesheet" href="/assets/css/lib/star-rating.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/lib/star-rating-theme.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/lib/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/lib/owl.theme.default.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/lib/icomoon/style.css" type="text/css">

    <link rel="stylesheet" href="/assets/css/site.css" type="text/css">

    <title><%= title %></title>
</head>
