
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/assets/js/lib/star-rating.min.js"></script>
<script src="/assets/js/lib/star-rating-theme.min.js"></script>
<script src="/assets/js/lib/owl.carousel.min.js"></script>

<script src="/assets/js/components/SubscribeNewsletter.js"></script>

<script src="/assets/js/site.js"></script>

<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('.subscribe-newsletter').SubscribeNewsletter();
        });
    })(jQuery);
</script>
