<!doctype html>
<html lang="en">

<% include ../include/head.html %>

<body>

<% include ../include/navbar.html %>

<div class="d-flex flex-column min-vh-100 site-wrap">

    <div class="site-section">
        <div class="container">
 
            <div class="row">
                <div class="col-md-12 align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2"><%= product.name %></h1>
                </div>
            </div>

            <div class="row">

                <div class="col-md-5 mr-auto">
                    <div class="border text-center">
                        <% if (product.image) { %>
                            <img src="/assets/img/<%= product.image %>" alt="Image" class="img-fluid p-5">
                        <% } else { %>
                            <img src="/assets/img/awaiting-image.png" alt="Awaiting Image" class="img-fluid p-5">
                        <% } %> 
                    </div>
                </div>
                <div class="col-md-6 item-entry">
                    <h5><%= product.code %></h5>
                    <span class="product-rating mb-4">
                        <input id="input-1" type="number" name="input-1" value="<%= product.rating %>">
                        <span class="product-reviews"><a href="#">Customer Reviews</a></span>
                    </span>
                    <h6>Summary</h6>
                    <p><%= product.summary %></p>
                    <h6>Description</h6>
                    <p><%= product.description %></p>
                    <h4 class="price pt-2 pb-4 item-price">
                        <% if (product.onSale) { %>
                            <del>£<%= product.price %></del>
                             &dash; 
                            £<%= product.salePrice %>
                        <% } else { %>    
                            £<%= product.price %>
                        <% } %>
                        <% if (product.inStock) { %>
                            <span class="badge badge-success">In Stock</span>
                        <% } else { %>   
                            <span class="badge badge-danger">Out of Stock</span>
                            <span class="badge badge-light text-dark">In stock in <%= product.timeToStock %> days</span>
                        <% } %>    
                    </h4>

                </div>

            </div>
        </div>
    </div>

</div>    

<% include ../include/footer.html %>
    
<% include ../include/scripts.html %>

<script type="text/javascript">
    $(document).ready(function() {
        $('input[type="number"]').each(function() {
            $(this).rating({displayOnly: true, showCaption: false, step: 1.0, size: 'xs', theme: 'krajee-fas'});
        });
    });        
</script>

</body>

</html>